body {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow";
  text-transform: uppercase;
}
h1 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.clearfix {
  content: '';
  display: table;
  clear: both;
}
.main-navigation {
  float: left;
  width: 780px;
}
.user-block {
  float: right;
  width: 140px;
}
.filter {
  float: left;
  width: 220px;
  margin-right: 20px;
}
.catalog {
  float: right;
  width: 700px;
  font-size: 0;
}
.catalog-item {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  vertical-align: top;
  font-size: 14px;
}
.catalog-item:nth-child(3n) {
  margin-right: 0;
}
.catalog-item-type {
  text-transform: none;
}

.item-gallery {
  float: left;
  width: 460px;
}
.item-info {
  float: right;
  width: 400px;
}
.pricelist-content-left {
  float: left;
  width: 460px;
}
.pricelist-content-right {
  float: right;
  width: 460px;
}
.pricelist-content p {
  width: 380px;
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}
.footer-social {
  float: left;
  width: 140px;
}
.footer-copyright {
  float: right;
  width: 140px;
}
